@keyframes floatDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float-down-element {
    animation: floatDown 2s ease-in-out infinite;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 10px;
    /* background-color: #f2f2f2;
    border: 1px solid #ddd; */
    text-align: center;
    z-index: 1000;
  }
  /* 模糊的阴影 */
.shadow-blurred {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.817);
}